@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto" sans-serif;
}
/***************ANIMATED ICON*****************/

/***************NAVBAR STYLES******************/

.navbar-nav > li > a {
  color: white !important;
  border-bottom: 0.1875rem solid rgb(255,255,255,0);
}
.custom-spacing {
  letter-spacing: 0.125rem;
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
border-bottom: 0.1875rem solid orangered;
}
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid orangered;
}
.dark {
  background-color: #282828 !important;
}